rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return signedIn() && request.auth.token.admin == true;
    }

    match /users/{uid} {
      allow read: if signedIn() && request.auth.uid == uid;
      allow create, update: if signedIn() && request.auth.uid == uid;
      allow delete: if false;
    }

    match /files/{docId} {
      allow read: if signedIn();
      allow write: if isAdmin();
    }

    match /posts/{docId} {
      allow read: if signedIn();
      allow write: if isAdmin();
    }
  }
}
